contourpy==1.3.2
cycler==0.12.1
dill==0.4.0
fonttools==4.58.5
igraph==0.11.9
joblib==1.5.1
kiwisolver==1.4.8
kmodes==0.12.2
kneed==0.8.5
matplotlib==3.10.6
mplcursors==0.6
multiprocessing_on_dill==3.5.0a4
networkx==3.5
numpy==2.3.1
packaging==25.0
pandas==2.3.1
patsy==1.0.1
pillow==11.3.0
pycsvparser @ git+https://github.com/cabrittin/pycsvparser.git@7a809bb74bd0313d7cd09b7a52e3eca3f9c1d926
pyparsing==3.2.3
PyQt6==6.9.1
PyQt6-Qt6==6.9.1
PyQt6_sip==13.10.2
python-dateutil==2.9.0.post0
pytz==2025.2
scikit-learn==1.7.0
scikit-misc==0.5.1
scipy==1.16.0
sctool @ git+https://github.com/cabrittin/sctool.git@d275e3de7c73914333d84ad18650c36348030798
seaborn==0.13.2
six==1.17.0
statsmodels==0.14.5
tb_popgraphs @ git+https://github.com/cabrittin/tb_popgraphs.git@ac55992080101d16ddd44fe67248caa5dea6101b
texttable==1.7.0
threadpoolctl==3.6.0
toolbox @ git+https://github.com/cabrittin/toolbox.git@b4bbbe5c67bd62d7614766240b4f504b39e487d8
tqdm==4.67.1
tzdata==2025.2
xlsxwriter==3.2.9
